body{
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 14px;
    background-color: #f2f2f2;
    input {
        padding: 0 30px !important;
    }
    ul{
        padding-inline-start: 20px;
    }
    .el-message-box{
      font-size: 14px;
      width: auto;
      .el-message-box__title {
        span {
          font-size: 14px !important;
        }
      }
    }
    .el-message-box__message p{
      width: 800px;
      margin: 0 20px;
    }
    .newscontent_boder {
      p {
        width: 750px;
        margin: 0 auto;
      }
    }
    .el-footer {
      height: 60px !important;
      line-height: 60px;
      color: #333;
      font-size: 16px;
      text-align: center;
      span {
        color: #666;
      }
    }
    .el-main {
      background-color: #f2f2f2;
    }
    .el-button--primary {
      background-color: #146639 !important;
    }
    .el-button {
      font-size: 18px;
    }
}